body {
  font-family: 'Lato', sans-serif;
  text-align: justify;
}

.cmap {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0%;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
}

.cmap button {
      position: relative;
    bottom: -2px;
    
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  0% {
    fill: darkgray;
  }
  50% {
    opacity: 0;
  }
  100% {
    fill: darkgray;
  }
}

.svg a:hover {
  color: #f1f1f1;
}

.inhalt {
  margin-left: 50%; /* Same as the width of the sidenav */
  font-size: 14px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.active {
  fill: #F2C9D1;
}

.concept {
  cursor: pointer;
}

.concept:hover rect {
  stroke: #DA8FA4;
  stroke-width: 5;
}

.highlight {
  background-color: #DA8FA4;
}
